:root {
  --primary-color: #f48db4;
  --secondary-color: #ff347f;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --third-color: #c9356c;
  --fourth-color: #fafafa;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
  color: var(--primary-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: var(--primary-color);
}

p {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin: 20px;
}

h4 {
  margin-top: 18px;
  color: var(--primary-color);
  font-weight: inherit;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--third-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  background: var(--third-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link:hover {
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

.about-link {
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.cauliflower-link {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  background: var(--fourth-color);
  margin: 0px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.weather-link {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  background: var(--fourth-color);
  margin: 0px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.cauliflower-paragraph {
  display: flex;
  margin: 30px 0;
}

.weather-paragraph {
  display: flex;
  margin: 30px 0;
}

.yoga-paragraph {
  display: flex;
  margin: 30px 0;
}
